@font-face {
  font-family: "interstate-light";
  src: url("../fonts/interstate-light-webfont.eot");
  src: url("../fonts/interstate-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstate-light-webfont.woff") format("woff"), url("../fonts/interstate-light-webfont.ttf") format("truetype"), url("../fonts/interstate-light-webfont.svg#NokiaPureHeadlineBold") format("svg");
}

@font-face {
  font-family: "interstate";
  src: url("../fonts/interstaterom-webfont.eot");
  src: url("../fonts/interstaterom-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstaterom-webfont.woff") format("woff"), url("../fonts/interstaterom-webfont.ttf") format("truetype"), url("../fonts/interstaterom-webfont.svg#NokiaPureHeadlineBold") format("svg");
}

@font-face {
  font-family: 'interstateextralight';
  src: url("../fonts/interstate-extralight-webfont.eot");
  src: url("../fonts/interstate-extralight-webfont.woff") format("woff"), url("../fonts/interstate-extralight-webfont.ttf") format("truetype"), url("../fonts/interstate-extralight-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff url(../images/bg-pattern.gif);
  font-family: "interstate";
  padding-bottom: 20px;
  color: #222;
  position: relative;
  overflow-x: hidden;
  font-family: "interstate-light";
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

header .top1 {
  height: 22px;
  background: #010101 url(../images/header/bg-top1.png) repeat-x;
  color: #fff;
  font-size: 10px;
  font-family: arial, verdana;
  padding-top: 6px;
}

header .top1 .ct-title {
  width: 40%;
  float: left;
}

header .top2 .logo1 {
  width: 40%;
  float: left;
}

header .ct-title {
  padding-left: 60px;
}

header .ct-menu {
  padding-right: 60px;
}

header .top1 .ct-menu,
header .top2 .logo2 {
  float: right;
  width: 50%;
  text-align: right;
}

header .ct-menu a {
  padding: 0 5px;
  color: #fff;
  text-transform: uppercase;
}

header .top2 {
  height: 86px;
  background: #010101 url(../images/header/bg-top2.png);
  color: #fff;
}

header .logo1 {
  padding: 20px 20px 20px 60px;
}

header .logo2 {
  padding: 30px 60px 0 20px;
}

footer {
  font-family: arial, verdana, times New Roman;
}

footer hr {
  border: 1px solid #CCCCCC;
  height: 1px;
  margin: 0;
}

footer li {
  float: left;
  list-style: none outside none;
  padding-left: 22px;
}

footer li a {
  color: #666666;
  font-size: 10px;
  font-family: arial, verdana, times New Roman;
}

footer a {
  color: #666666;
  font-size: 10px;
  font-family: arial, verdana, times New Roman;
}

footer a:hover {
  color: #666666;
}

footer.footer1 {
  padding: 0 30px 15px 30px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}

footer.footer2 {
  background-color: #fff;
  font-size: 10px;
  color: #999999;
  font-family: arial, verdana, times New Roman;
  line-height: 13px;
  padding: 15px 30px 15px 30px;
}

footer.footer1 .footer-menu {
  text-align: right;
}

footer.footer1 .footer-menu a {
  padding-right: 10px;
}

footer.footer1 .footer-menu a:last-child {
  padding-right: 0;
}

footer .footer-logo {
  margin-bottom: 10px;
}

footer.footer1 .footer-border {
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
}

footer .footer-fb a {
  padding-right: 7px;
}

footer .footer-fb img {
  border-left: 1px solid #ccc;
  padding-left: 7px;
}
